body {
  font-family: "Sono", sans-serif;
}
.pricing-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}
.pricing-plan {
  background-color: #f2f2f2;
  text-align: center;
  width: 400px;
  padding: 13px;
  border-radius: 10px;
}
.plan-button {
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 10px;
  align-content: center;
}
.plan-title {
  font-family: "Sono", sans-serif;
  font-weight: 900;
  font-size: 25px;
  padding: 10px;
}
#last {
  padding-bottom: 5px;
}
ul > li {
  list-style-type: none;
  padding-bottom: 15px;
  padding-right: 40px;
  align-items: center;
}

.plan-price {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 0px;
}
@media (max-width: 1250px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
}
